<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layouts/layout">

    <!-- dashboard.html 고유 CSS 추가 -->
    <th:block layout:fragment="css"></th:block>
    <!-- dashboard.html 고유 스크립트 추가 -->
    <th:block layout:fragment="script"></th:block>

<div layout:fragment="content">
    <!-- contentWrap -->
    <div id="contentWrap">
        <section>
            <div class="title_wrapper">
                <div class="title_left">
                    <h1 class="title">[경기 본부] 현황판</h1>
                </div>
                <div class="form_row select_box_wrapper">
                    <span class="select_box_title">본부</span>

                    <div class="select_box_inner">
                        <select class="form_control select_btn select_btn_single">
                            <option selected>경기 본부</option>
                            <option>경기 본부</option>
                            <option>경기 본부</option>
                            <option>경기 본부</option>
                            <option>경기 본부</option>
                            <option>경기 본부</option>
                        </select>
                    </div>
                </div>
            </div>

            <div class="content_inner">
                <!-- left_section -->
                <div class="left_section">
                    <!-- 단말 등록 현황 -->
                    <div class="box_area">
                        <div class="box_area_inner">
                            <div class="box_area_header">
                                <h2 class="sub_title">단말 등록 현황</h2>
                                <a href="../nms_monitoring/terminal_status.html" class="outer_link">단말 현황 ></a>
                            </div>
                            <div class="box_area_body col_2">
                                <div class="table_wrapper">
                                    <div id="terminalRegisTable" style="width: 100%; max-height: 250px"
                                         class="ag-theme-balham"></div>
                                    <p class="base_date">기준일 : 2020.09.01</p>
                                </div>
                                <div class="graph_wrapper">
                                    <div id="terminalRegisGraph" style="width: 100%; height: 250px"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- 단말 등록 현황 end -->

                    <!-- 단말 알람 현황 -->
                    <div class="box_area">
                        <div class="box_area_inner">
                            <div class="box_area_header">
                                <h2 class="sub_title">단말 알람 현황</h2>
                            </div>
                            <div class="box_area_body col_2">
                                <div class="table_wrapper">
                                    <div id="terminalAlarmTable" style="width: 100%; max-height: 250px"
                                         class="ag-theme-balham"></div>
                                    <p class="base_date">기준일 : 2020.09.01</p>
                                </div>
                                <div class="graph_wrapper">
                                    <div id="terminalAlarmGraph" style="width: 100%; height: 250px"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- 단말 알람 현황 end -->

                    <!-- 금일 이벤트 현황 -->
                    <div class="box_area box_area_sm">
                        <div class="box_area_inner">
                            <div class="box_area_header">
                                <h2 class="sub_title">금일 이벤트 현황</h2>
                            </div>
                            <div class="box_area_body col_1">
                                <div class="graph_wrapper">
                                    <div id="todayEventGraph" style="width: 100%; height: 94px"></div>
                                </div>
                                <div class="table_wrapper">
                                    <div id="todayEventTable" style="width: 100%" class="ag-theme-balham"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- 금일 이벤트 현황 end -->
                </div>
                <!-- left_section end -->

                <!-- middle_section -->
                <div class="middle_section">
                    <!-- 수신감도(RSSI) 현황 -->
                    <div class="box_area">
                        <div class="box_area_inner">
                            <div class="box_area_header">
                                <h2 class="sub_title">수신감도(RSSI) 현황</h2>

                                <p class="base_date">기준일 : 2020.09.01</p>

                                <div class="form_row select_box_wrapper">
                                    <div class="select_box_inner">
                                        <select class="form_control select_btn select_btn_single">
                                            <option selected>게이트웨이(상향)</option>
                                            <option>게이트웨이(하향)</option>
                                            <option>디바이스(상향)</option>
                                            <option>디바이스(하향)</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="box_area_body col_1">
                                <div class="graph_wrapper">
                                    <div id="rssiGraph" style="width: 100%; height: 250px"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- 수신감도(RSSI) 현황 end -->

                    <!-- 데이터 송수신 현황 -->
                    <div class="box_area">
                        <div class="box_area_inner">
                            <div class="box_area_header">
                                <h2 class="sub_title">데이터 송수신 현황</h2>

                                <p class="base_date">기준일 : 2020.09.01</p>

                                <div class="form_row select_box_wrapper">
                                    <div class="select_box_inner">
                                        <select class="form_control select_btn select_btn_single">
                                            <option selected>게이트웨이(상향)</option>
                                            <option>게이트웨이(하향)</option>
                                            <option>디바이스(상향)</option>
                                            <option>디바이스(하향)</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="box_area_body col_1">
                                <div class="graph_wrapper">
                                    <div id="dataSendReceiveGraph" style="width: 100%; height: 250px"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- 데이터 송수신 현황 end -->

                    <!-- 실시간 이벤트 모니터링 -->
                    <div class="box_area box_area_sm">
                        <div class="box_area_inner">
                            <div class="box_area_header">
                                <h2 class="sub_title">실시간 이벤트 모니터링</h2>
                                <a href="../nms_monitoring/event_monitoring.html" class="outer_link">이벤트 이력 보기 ></a>
                            </div>
                            <div class="box_area_body col_1">
                                <div class="table_wrapper">
                                    <div id="realTimeEventTable" style="width: 100%" class="ag-theme-balham"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- 실시간 이벤트 모니터링 end -->
                </div>
                <!-- middle_section end -->

                <!-- right_section -->
                <div class="right_section">
                    <!-- 현재시간 -->
                    <div class="box_area box_area_xs">
                        <div class="box_area_inner current_time">
                            <div class="box_area_header">
                                <h2 class="sub_title">현재 시간</h2>
                            </div>
                            <div class="box_area_body col_1">
                                <p id="currentDate" class="date"></p>
                                <p id="currentTime" class="time"></p>
                            </div>
                        </div>
                    </div>
                    <!-- 현재시간 end -->

                    <!-- 금일 알람 TOP 5 -->
                    <div class="box_area box_area_l">
                        <div class="box_area_inner">
                            <div class="box_area_header">
                                <h2 class="sub_title">금일 알람 TOP 5</h2>
                            </div>
                            <div class="box_area_body col_1">
                                <div class="rank_wrapper">
                                    <ol class="rank_list">
                                        <li>
                                            <span class="rank">1</span>
                                            <span class="serial_number">GW200011</span>
                                            <span class="alarm_count">25</span>
                                        </li>
                                        <li>
                                            <span class="rank">2</span>
                                            <span class="serial_number">DEV200011</span>
                                            <span class="alarm_count">15</span>
                                        </li>
                                        <li>
                                            <span class="rank">3</span>
                                            <span class="serial_number">DEV200012</span>
                                            <span class="alarm_count">14</span>
                                        </li>
                                        <li>
                                            <span class="rank">4</span>
                                            <span class="serial_number">DEV200013</span>
                                            <span class="alarm_count">5</span>
                                        </li>
                                        <li>
                                            <span class="rank">5</span>
                                            <span class="serial_number">DEV200014</span>
                                            <span class="alarm_count">4</span>
                                        </li>
                                    </ol>
                                </div>
                                <div class="map_wrapper">
                                    <div id="map" style="width: 100%; height: 210px; overflow: hidden">
                                        <img th:src="@{/images/main/map_sample.jpg}" alt="임시 지도"
                                             style="width: 100%; height: 100%"/>
                                    </div>
                                </div>
                                <div class="terminal_info_wrapper">
                                    <div class="terminal_info_inner">
                                        <ul class="terminal_info_list">
                                            <li>
                                                <dl>
                                                    <dt>단말 번호 :</dt>
                                                    <dd>GW200011</dd>
                                                </dl>
                                            </li>
                                            <li>
                                                <dl>
                                                    <dt>단말 구분 :</dt>
                                                    <dd>게이트웨이</dd>
                                                </dl>
                                            </li>
                                            <li>
                                                <dl>
                                                    <dt>통신 상태 :</dt>
                                                    <dd>미등록</dd>
                                                </dl>
                                            </li>
                                            <li>
                                                <dl>
                                                    <dt>RSSI :</dt>
                                                    <dd>상향 -70dBm, 하향 -95dBm</dd>
                                                </dl>
                                            </li>
                                            <li>
                                                <dl>
                                                    <dt>최종 통신일자 :</dt>
                                                    <dd>2020-09-01 10:10:25</dd>
                                                </dl>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- 금일 알람 TOP 5 end -->
                </div>
                <!-- right_section end -->
            </div>
        </section>
    </div>
    <!-- contentWrap end -->
</div>


</html>
